/* styles.css */

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
}

.container {
    margin-top: 50px;
}

#calendar {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

#calendar th, #calendar td {
    position: relative; 
    padding: 10px;
    text-align: center;
    border: 1px solid #dee2e6;
}

#calendar th {
    background-color: #007bff;
    color: #fff;
}

.event-day.highlight {
    background-color: #ffeeba; /* Couleur de fond pour la surbrillance supplémentaire */
    border: 2px solid #ffc107; /* Bordure pour la surbrillance supplémentaire */
}

.event-day div {
    background-color: #0dc2ff; /* Fond bleu clair pour le texte avec événement */
    padding: 5px;
    border-radius: 5px;
}

.event-day.highlight::before {
    background-color: #ffeeba;
    border: 2px solid #ffc107;
}

.form-group {
    margin-bottom: 1rem;
}

.form-group label {
    display: inline-block;
    width: 150px; /* Définir une largeur fixe pour les étiquettes */
    text-align: right; /* Aligner le texte des étiquettes à droite */
    margin-right: 10px; /* Ajouter un espacement à droite entre l'étiquette et le champ de saisie */
}

